/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
:root{
    --Eerie-black:#262626;
    --Lapis-lazuli: #255C99;
    --iceberg:#7EA3CC;
    --Tan:#CCAD8F;
    --white:#FFFFFF;
    --brown:#241916;
}

.container .section_2{
    margin-left: 0;
    margin-right: 0;
}

a{
    text-decoration: none;
    color: var(--Eerie-black);
}

body{
    background-color: #ccae8f1e;
    width: 100%;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    margin: 0;

}


.color_letras_oscuras{
    color: var(--Eerie-black);
}

.color_letras_claras{
    color: var(--white);
}

.container{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: auto;
}

/* Section 1 */

.logo{
    height: 70px;
}


.barrita_nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    font-size: 1.2rem;
}

.lista_1{
    list-style: none;
    display: flex;
    gap: 4em;
    cursor: pointer;
    color: var(--Eerie-black);
    font-weight: 600;
    align-items: center;
}

.lista_1 button{
    width: 100px;
    height: 40px;
    border:none;
    border-radius: 10px;
    background-color: var(--Eerie-black);
    color: white;
    font-weight: 600;
}

.button_nav:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.section_2{
    border-radius: 15px;
    background-color: var(--iceberg);
    display: flex;
    color: var(--white);
    margin-top: 1em;
    margin-bottom: 4em;
    box-shadow: 0 0 20px #26262675 ;
}

.section_2_text h1{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;

}

.section_2_text{
    margin: 3em;

}

.no_compres{
    font-weight: 700;
    color: var(--Lapis-lazuli);
    font-size: 1.8rem
}

.section_2_text p{
    font-size: 1.2rem;
    width: 90%;
    line-height: 25px;
}

.section_2_text button{
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: var(--iceberg);
    font-weight: 600;
    box-shadow: 3px 5px 10px  #255b9977;
    margin-top: 1em;
    font-size: 0.9rem;
}

.button_1:hover{
    background-color: var(--Lapis-lazuli);
    color: var(--white);
    cursor: pointer;
}

.banner_1{
    height: 80%;
    margin-bottom: 0;
    margin-top: auto;
}

.lista_1 li:hover{
color: var(--Lapis-lazuli);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    color: var(--white);
    cursor: pointer;

}
.card::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #262626ad;
    border-radius: 20px;

}

.card:hover::before{
    cursor: pointer;
    box-shadow: 0 0 30px #255C99;
    transition-duration: 0.5s;
    position: absolute;
    background-color:#7ea2cce8;
 }

.card:hover{
    transform:translateY(-5px);
    transition-duration: 0.5s;
}

.info{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.card h2{
    margin-bottom: 0;
    font-size: 2rem;
}

.card p{
    font-size: 1.1rem;
    font-weight: 500;
}

.section_3{
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.section_3_rescatados{
    grid-column: 1;
    grid-row: 1/3;
    background: url(./Images/rescatados.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

.section_3_campañas{
    background-image: url(./Images/campaña_de_adopc.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section_3_transito{
    background-image: url(./Images/transito.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-1{
    height: 250px;
}

.card p{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.section_4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.section_4_card{
    border-radius: 20px;
    background-color: #ccae8f3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    color: var(--Eerie-black);
}

.section_4 img{
    width: 50px;
}

.section_4_card h3{
    margin-bottom: 0;
}

.section_4_card p{
    text-align: center;
}

.section_4 h2{
    margin: 0 auto;
    margin-top:3em;
    margin-bottom: 1em;
    font-size: 3rem;
    color: var(--Eerie-black);
    font-weight: 700;
    font-family: 'Playball',sans-serif;
    color: var(--brown);
    grid-column: 1/4;
}

.section_4_economia img{
    margin-top: 20px;
}

.section_4_edad img{
    margin-top: -35px;
}

.section_5{
    border-radius: 15px;
    background-color: var(--iceberg);
    width: 70%;
    margin: 0 auto;
    padding: 3em;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    color: var(--white);
    align-items: center;
    position: relative;
}

.button_2{
    border: none;
    border-radius: 20px;
    color: var(--iceberg);
    width: 20%;
    height: 40px;
    margin-right: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    background-color: white;
    box-shadow: 3px 5px 10px  #255b9977;
}

.section_5_formulario{
    margin-left: 50px;
}

.button_2:hover{
    background-color: var(--Lapis-lazuli);
    color: var(--white);
    cursor: pointer;
}

.section_footer{
    background-color: var(--Eerie-black);
    margin-top: -100px;
}

footer{
    position:absolute;
    width: 100%;
    color: var(--white);
}

ul{
    list-style: none;
}

.footer_1{
    display: flex;
    padding-top: 120px;
    justify-content: space-between;
}

.footer_list{
    display: flex;
    gap: 2em;
    margin-right: 12em;
}

.footer_list li:hover{
    color: var(--iceberg);
    transform: translateY(-2px);
    transition-duration: 0.5s;
}

.footer_1 img{
    margin-left: 12em;
}

.footer_2{
    display: flex;
    margin-left: 12em;
    margin-right: 12em;
    justify-content: space-between;
    padding-bottom: 3em;
}

.social_icon img{
    filter: invert(100%);
}

.footer_2_direccion{
    line-height: 13px;
    font-weight: 300;
    font-size: 0.8rem;
}

.icon_img:hover{
    color: var(--Lapis-lazuli);
    filter: brightness(3);
}

.section_1_list_mobile{
    display: none;
}

/* FORMULARIO CONTACTO */

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    
}

.mensaje-contacto{
    width: 50%;
    margin-top: -30px;
}

.img_patitas_contacto{
    width: 150px;
    z-index: 0;
    opacity: 0.9;
    margin: 0 auto;
   
}

.contactanos{
    font-family: 'Playball',sans-serif;
    font-size: 3rem;
    text-align: center;

}

.formulario-contacto{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 20px 0 20px 0;
    color: var(--brown);
        
}

form div{
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    margin-left: 0 auto;

}

form input{
    width: 350px;
    height: 35px;
    border: none;
    margin-bottom: 6px;
    margin-top:5px;
    border: 1px solid #24191665;
    position: relative;
    z-index: 1;

}

.input-mensaje{
    height: 70px;

}

.boton-enviar-formulario{
    height: 40px;
    width: 130px;
    border: none;
    border-radius: 5px;
    background-color: var(--Eerie-black);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    color: var(--white);
    margin-left: 5px;
    cursor: pointer;
}


.estado-mensaje{
    color: var(--Eerie-black);
}

.container_rescatados{
    width: 1200px;
    height: 700px;
    background-color: #f9f5f1;
    border-radius: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
        
}

.modal_nuestros_rescatados{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.377);
    height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.imagen_rescatado img{
    height: 250px;
    width: 190px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
    cursor: pointer;
   
}

.container_rescatados a{
    grid-column: 4;
    margin-left: 125px;
    margin-bottom: 10px;
}
.container_rescatados a:hover{
    color: var(--Lapis-lazuli);
    font-weight: 800;
}

.texto_rescatado{
    position: absolute;
    background-color: var(--white);
    width:180px;
    border-radius: 0 0 5px 5px;
    margin-top: -67px;
    line-height: 5px;
    padding-left: 10px;
    display: none;
    opacity: 0;
        
}

.fa_fa_x{
    width: 15px;
    margin-top: 10px;
    margin-left: 30px;
    cursor: pointer;
}

.container_campañas{
    width: 450px;
    height: 700px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 0 auto;
    background-image: url(./Images/modal-calendario/modal-calendario.jpg);
    background-repeat: no-repeat;
    background-size: 450px;
    display: flex;
    flex-direction: column;        
}

.modal_campañas{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.377);
    height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container_transito{
    width: 1090px;
    height: 780px;
    background-color: #f9f5f1;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./Images/rescatados/4_189.jpg);
    background-repeat: no-repeat;
    background-size: 1100px;   
}

.texto_transito{
    display: flex;
    margin-left: auto;
    margin-right: 40px;
    margin-bottom: 30px;
    gap: 2em;
    position: relative;
    top: 20px;    
}

.texto_transito p{
    font-family: 'Playball',sans-serif;
    font-size: 2rem;
}

.texto_transito button{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    background-color:#e68978;
    color: var(--Eerie-black);
    font-weight: 600;
    cursor: pointer;
}

#cerrar_transito{
    margin-left: auto;
    margin-right: 30px;
    margin-top: 30px;
}

.modal_transito{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.377);
    height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#cerrar_campañas{
    cursor: pointer;
    width: 15px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
}

.container_campañas h2{
    text-align: center;
    margin-top: 280px;
    font-size: 30px;
    font-family: 'Playball',sans-serif;
}

.container_campañas p{
    text-align: center;
    position: relative;
    top: 250px;
    line-height: 18px;
    font-size: 1rem;
    font-family: 'Nunito';
    width: 90%;
    margin: 0 auto;
}

#cerrar_transito{
    cursor: pointer;
    width: 15px;
}

.hogar_transito{
    display: none;
}

@keyframes textoRescatadoON {
    0% {display: none;
    opacity: 0;}
    100% {display: block;
    opacity: 1;}
}


@media only screen and (min-width:1020px) and (max-width:1360px) {

    .container{
        margin-left: 60px;
        margin-right: 60px;
    }
    
    .banner_1{
        width:450px;
    }

    .section_2_text p{
        font-size: 1rem;
        width: 100%;
    }

    .section_2_text h1{
        font-size: 1.8rem;
    }

    .section_2_text h2{
        font-size: 1.2rem;
    }

    .card h2{
        font-size: 1.5rem;
    }

    .card p{
        font-size: 1rem;
    }

    .section_4 h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.1rem;
    }

    .section_4 p{
        font-size: 1rem;
    }

    .section_5 h2{
        font-size: 1.5rem;
    }

    .container_rescatados{
       height: 500px;
        width: 800px;
    }

    .imagen_rescatado img{
        width: 120px;
        height: 150px;
    }

    .container_rescatados a{
        margin-left: 45px;
    }
   
    .texto_rescatado{
        width: 110px;
        font-size: 12px;
        margin-top: -62px;
    }
        
    .fa_fa_x{
        margin-top: 10px;
        margin-left: 0;
    }

}


@media only screen and (min-width:768px) and (max-width:1020px){

    .container{
        margin-left: 0;
        margin-right: 0px;
    }

    .none_mobile{
        display: none;
    }

    .card-1{
        height: 200px;
    }

    .section_4_card{
        height: 300px;
    }

    .barrita_nav{
        margin-left: 40px;
        margin-right: 40px;
    }
    .none_1000px{
        display: none;
    }

    .banner_1{
        width: 350px;
    }

    .section_3{
        margin-left: 40px;
        margin-right: 40px;
    }

    .section_4{
        margin-left: 40px;
        margin-right: 40px;
    }

    .formulario-contacto{
        margin-left: 40px;
        margin-right: 40px;        
    }
    
    .section_2{
        align-items: center;
        text-align: center;
        height: 400px;
        border-radius: 0;
        box-shadow: none;
    }

    .section_2_text p{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .info p{
        display: none;
    }
    
    .info h2{
        text-transform: uppercase;
        width: 70%;
        text-align: center;
    }

    .section_2_text h1{
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    .section_2_text h2{
        font-size: 1.2rem;
    }

    .card h2{
        font-size: 1.2rem;
    }

    .card p{
        font-size: 0.9rem;
    }

    .section_4 h2{
        font-size: 1.6rem;
    }

    .section_4 img{
        width: 30px;
    }
    
    h3{
        text-align: center;
        font-size: 1.1rem;
    }

    .section_4 p{
        font-size: 0.9rem;
    }

    .section_5 h2{
        font-size: 1.2rem;
    }

    .section_5 p{
        font-size: 1rem;
    }

    .footer_list{
        font-size: 0.7rem;
    }

    .footer_2_direccion{
        font-size: 0.7rem;
    }

    .footer_list{
        margin-right: 100px;
    }

    .footer_2{
        margin-left: 100px;
        margin-right: 100px;
    }

    .footer_1 img{
        margin-left: 100px;
    }

    .lista_1{
        font-size: 1rem;
        gap: 2em;
    }

    .container_rescatados{
        height: 400px;
         width: 600px;
     }
 
     .imagen_rescatado img{
         width: 100px;
         height: 120px;
     }
 
     .container_rescatados a{
         margin-left: 45px;
     }
    
     .texto_rescatado{
         width: 110px;
         font-size: 12px;
         margin-top: -62px;
     }
         
     .fa_fa_x{
         margin-top: 10px;
         margin-left: 0;
     }
     .container_campañas{
        width: 450px;
        height: 700px;
        background-size: 450px;
    }

    .container_transito{
        width: 700px;
        height: 500px;
        background-size: 700px;
    }

    .texto_transito p{
        font-size: 1.5rem;
        position: relative;
        top: 15px;
    }

    .texto_transito button{
        margin-top: 25px;
        height: 40px;
        width: 90px;
        font-size: 0.8rem;
    }
    
}

@media only screen and (min-width:1800px) {
    
    .container{
        margin-left: 350px;
        margin-right: 350px;
    }

    .footer_1 img{
        margin-left: 350px;

    }

    .footer_list{
        margin-right: 350px;
    }

    .footer_2{
        margin-left: 350px;
        margin-right: 350px;
    }

    .section_5{
    width: 40%;
    }


}

@media only screen and (max-width:768px) {
    
    .container{
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;
    }

    .section_2{
        display: flex;
        flex-direction: column;
        border-radius: 0;
        box-shadow: none;
        
    }
    
    .section_2 h1{
        text-transform: uppercase;
    }

    .section_2 h2{
        display: none;
    }

    .section_3{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 30px;
        margin-right: 30px;
    }

    .section_3_rescatados{
        grid-row: 1;
    }

    .section_4{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
    }

    .form{
        margin-top: 0;
    }

    .contactanos{
        font-size: 2rem;
    }

    .formulario-contacto{
        margin-left: 30px;
        margin-right: 30px;
            
    }

    .formulario-contacto input{
        width: 280px;
        font-size: 0.8rem;
    }
    
    .footer_1 img{
        margin-left: 30px;

    }

    .footer_list{
        margin-right: 30px;
        display: flex;
        flex-direction: column;
    }

    .footer_2{
        margin-left: 30px;
        margin-right: 30px;
    }

    .social_icon{
        margin-top: 50px;
    }
    
    .section_5{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section_5_formulario{
        margin:0;
        text-align: center;
    }

    .button_2{
        margin: 0 auto;
        width: 40%;
        margin-top: 20px;
    }

    .menu-button{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 40px;
        height: 36px;
        padding:10px;
        border-radius: 7px;
        background: var(--Eerie-black);
        cursor: pointer;
    }

    .menu-button span{
        width: 40px;
        height: 4px;
        background: white;
    }

    .menu-toggle{
        display: none;
        
    }
    
    .toggle{
        display: none;
        text-align: center;
        background:var(--Eerie-black);
        border-radius: 7px;
        padding:20px;
        width: 150px;
        margin: 10px auto;
        position: relative;
        right: -67px;
    }

    .toggle li{
        list-style: none;
        display: block;
        padding: 10px 0;
        color: #fafafa;
    }

    .toggle li:hover{
        color: var(--iceberg);
    }

    .menu-toggle:checked + .toggle{
        display: block;
        transform: translateX(-60px);
        position:absolute;
    }

    .section_1_list{
        display: none;
    }

    .section_1_list_mobile{
        display: block;
        position: absolute;
        right: 30px;
    }

    .none_mobile{
        display: none;
    }

    .section_2_text h1{
        font-size: 1.7rem;
    }

    .section_2_text p{
        font-size: 1rem;
    }

    .no_compres{
        font-size: 1.4rem;
    }

    .section_2_text button{
        width: 200px;
    }

    .barrita_nav{
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .section_2_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 40px 20px 20px 20px;
    }

    .card h2{
        font-size: 1.2rem;
    }
    
    .card p{
        font-size: 1rem;
        width: 50%;
    }

    .section_4 h2{
        font-size: 2rem;
        text-align: center;
    }

    .section_4 img{
        margin-top: 0;
    }

    .section_5_formulario p{
        font-size: 0.8rem;
    }

    .section_5{
        padding: 1.5em 2.5em 1.5em 2.5em;
    }

    .section_5_formulario h2{
        font-size: 1.2rem;
    }

    .button_2{
        width: 60%;
    }

    .section_4 p{
        font-size: 0.8rem;
    }

    h3{
        font-size: 1.1rem;
        text-align: center;
    }

    .section_4 img{
        width: 35px;
    }

    .footer_list{
        font-size: 0.7rem;
    }

    .footer_2_direccion{
        font-size: 0.7rem;
    }

    .banner_1{
        margin: 0 auto;
        width: 320px;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mensaje-contacto{
        width: 80%;
        margin-bottom: 30px;
        margin-top: 0;
        
    }

    .container_rescatados{
        height: 650px;
        width: 310px;
        grid-template-columns: 1fr 1fr;
        
     }
 
     .imagen_rescatado img{
         width: 90px;
         height: 110px;
     }
 
     .container_rescatados a{
         margin-left: 45px;
         grid-column: 2;
         margin: -20px -20px 0 0;
         font-size: 0.9rem;
     }
    
     .texto_rescatado{
         width: 90px;
         height: 35px;
         margin-top: -40px;
         font-size: 10px;
         display: flex;
         align-items: center;
         justify-content: center;
         margin-left: 0;
         padding: 0;
     }

     .texto_rescatado h3{
         font-size: 12px;
     }

     .texto_rescatado p{
         display: none;
     }
         
     .fa_fa_x{
         position: relative;
         top: 15px;
         left: 5px;
         width: 13px;
         
     }

    .container_campañas{
        width: 300px;
        height: 500px;
        background-size: 300px;
    }   

    .container_campañas h2{
        margin-top: 170px;
        font-size: 1.5rem;
    }

    .container_campañas p{
        top:165px;
        font-size: 0.8rem;
    }

    .container_transito{
        width: 300px;
        height: 500px;
        background-image: none;
        
    }

    .texto_transito{
        flex-direction: column;
        gap: 0;
        align-items: center;
        margin: 0;
        margin-bottom: 50px;

    }

    .texto_transito p{
        margin: 0;
        font-size: 1.3rem;
        color: var(--Lapis-lazuli);
    }
    
    .texto_transito button{
        font-size: 0.9rem;
        margin-top: 15px;
        background-color: var(--Eerie-black);
        color: var(--white);
    }

    .hogar_transito{
        width: 80%;
        margin: 0 auto;
        text-align: justify;
        display: flex;
    }

}   

