@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    background-image: url(./EDUCACIÓN.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
   
    
}

.texto{
    font-size: 3rem;
    color: white;
    font-weight: 200;
    margin: 0 100px;
}

.txt2{
    font-size: 2rem;
}

#texto-cambiante{
    font-size: 2.5rem;
    font-weight: 100;
    border-right: 1px solid white;
    font-weight: 400;
}

p{
    margin: 10px 0;
}

@media only screen and (max-width:500px){
    .texto{
        margin-left: 50px;
        margin-right: 20px;
        font-size: 1.8rem;
    }
    body{
        background-image: url(./3d-rendered-black-geometric-product-stand-dark-corner-background-with-white-neon-light_167650-1124.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -170px;

    }
    .txt2{
        font-size: 1.2rem;
    }

    #texto-cambiante{
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    
    
    
}